<h2>Categories</h2>
<%=link_to "New category",new_category_path%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td class="px-5" style="text-align: right">
          <%=link_to "show",category_path(category)%>
          <%=link_to "Edit",edit_category_path(category)%>
          <%=link_to "Delete",category_path(category), :confirm => "Are you sure?", :method => :delete%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>